[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservices-nel/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-microservices-nel/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nest-microservices-nel/order-ms.git
[submodule "payments-s"]
	path = payments-s
	url = https://github.com/nest-microservices-nel/payments-s.git
[submodule "auth-mss"]
	path = auth-mss
	url = https://github.com/nest-microservices-nel/auth-ms.git
